version: '3.8'

services:
  puppet:
    image: ghcr.io/voxpupuli/container-puppetserver:8.4.0-latest
    hostname: puppet
    environment:
      PUPPETSERVER_HOSTNAME: puppet
      PUPPETSERVER_PORT: 8140
      PUPPETDB_HOSTNAME: puppetdb
      PUPPETDB_SSL_PORT: 8081
      USE_PUPPETDB: true
      AUTOSIGN: true
      CSR_ATTRIBUTES: '{"custom_attributes": { "challengePassword": "foobar" }, "extension_requests": { "pp_project": "foo" } }'
      # For private repos, use git@github.com:user/repo.git and provide SSH keys
      # R10K_REMOTE: https://github.com/betadots/demo-control-repo.git
    volumes:
      - puppetserver:/opt/puppetlabs/server/data/puppetserver
      - puppetserver-ssl:/etc/puppetlabs/puppet/ssl
      - puppetserver-ca:/etc/puppetlabs/puppetserver/ca
      - ./puppet-code:/etc/puppetlabs/code
    restart: always
    ports:
      - 8140:8140
    profiles:
      - puppet

  puppetdb:
    image: ghcr.io/voxpupuli/container-puppetdb:8.3.0-latest
    hostname: puppetdb
    environment:
      - USE_PUPPETSERVER=true
      - PUPPETSERVER_HOSTNAME=puppet
      - PUPPETSERVER_PORT=8140
      - PUPPETDB_SSL_PORT=8081
      - PUPPETDB_POSTGRES_HOSTNAME=postgres
      - PUPPETDB_POSTGRES_PORT=5432
      - PUPPETDB_PASSWORD=${POSTGRES_PASSWORD:-puppetdb}
      - PUPPETDB_USER=${POSTGRES_USER:-puppetdb}
    volumes:
      - puppetdb:/opt/puppetlabs/server/data/puppetdb
    restart: always
    ports:
      - 8081:8081
    profiles:
      - puppet

  postgres:
    image: docker.io/postgres:16-alpine
    hostname: postgres
    environment:
      - POSTGRES_DB=${POSTGRES_DB:-puppetdb}
      - POSTGRES_USER=${POSTGRES_USER:-puppetdb}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-puppetdb}
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - puppetdb-postgres:/var/lib/postgresql/data
      - ./postgresql_init:/docker-entrypoint-initdb.d
    restart: always
    profiles:
      - puppet

  puppetboard:
    image: ghcr.io/voxpupuli/puppetboard:latest
    hostname: puppetboard
    environment:
      - PUPPETDB_HOST=puppetdb
      # - PUPPETDB_PORT=8081 # use this for TLS
      - PUPPETDB_PORT=8080  # Use this for non-TLS
      - PUPPETBOARD_PORT=8088
      - SECRET_KEY=628c4e02daaaca2b90242491f607d3704153d424f215ac51b1dd873055e102a5  # Long random String : python3 -c 'import secrets; print(secrets.token_hex())'
      # if you wanna use SSL, you need to provide the following variables
      # see the README.md for more information, look for "Generate additional certificates"
    #   - PUPPETDB_SSL_VERIFY=/etc/puppetlabs/puppet/ssl/certs/ca.pem
    #   - PUPPETDB_KEY=/etc/puppetlabs/puppet/ssl/private_keys/puppetboard.pem
    #   - PUPPETDB_CERT=/etc/puppetlabs/puppet/ssl/certs/puppetboard.pem
    # volumes:
    #   - puppetserver-ssl:/etc/puppetlabs/puppet/ssl
    restart: always
    ports:
      - 8088:8088
    profiles:
      - puppet

  hdm:
    image: ghcr.io/betadots/hdm:latest
    hostname: hdm
    environment:
      - SECRET_KEY_BASE=9dea7603c008dec285e4b231602a00b2
    volumes:
      - ./hdm_config/hdm.yml:/hdm/config/hdm.yml:ro
      - ./puppet-code:/etc/puppetlabs/code
    ports:
      - 3000:3000
    depends_on:
      - puppetdb
      - puppet
    profiles:
      - hdm

  testing:
    image: ghcr.io/betadots/pdc:latest
    container_name: crafty-testing
    hostname: crafty-testing
    platform: linux/x86_64
    volumes:
      - agent-ssl:/etc/puppetlabs/puppet/ssl
    restart: always
    profiles:
      - test

networks:
  default:
    name: crafty-oss

volumes:
  puppetserver:
  puppetserver-ssl:
  puppetserver-ca:
  puppetdb:
  puppetdb-postgres:
