[Unit]
Description=OpenVoxDB
Wants=network-online.target crafty-network.service
After=network-online.target crafty-network.service postgres.service openvoxserver.service
Requires=postgres.service openvoxserver.service
PartOf=postgres.service openvoxserver.service

[Container]
ContainerName=openvoxdb
Image=ghcr.io/openvoxproject/openvoxdb:latest
AutoUpdate=registry

Pod=openvox-minimal.pod
Network=crafty.network

Environment=OPENVOXSERVER_HOSTNAME=openvoxserver

HealthCmd=curl -ksS https://openvoxdb:8081/status/v1/simple | grep -q '^running$'
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Service]
Restart=on-failure
RestartSec=5
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
