[Unit]
Description=OpenVox Server
After=crafty.network
Requires=crafty.network

[Container]
ContainerName=openvoxserver
# HostName=openvoxserver
Image=ghcr.io/openvoxproject/openvoxserver:latest
AutoUpdate=registry
Pod=openvox-minimal.pod
Network=crafty.network
Label=app=crafty

Environment=OPENVOXSERVER_HOSTNAME=openvoxserver

HealthCmd=curl -ksS https://openvoxserver:8140/status/v1/simple | grep -q '^running$'
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Install]
WantedBy=multi-user.target
