[Unit]
Description=OpenVox Server
Wants=podman-openvox-minimal.pod
After=podman-openvox-minimal.pod

[Container]
Image=ghcr.io/openvoxproject/openvoxserver:latest
ContainerName=openvoxserver
Hostname=puppet
Pod=openvox-minimal
Environment=OPENVOXSERVER_HOSTNAME=puppet
RestartPolicy=always
PodmanArgs=\
 --health-cmd "curl -ksS https://puppet:8140/status/v1/simple | grep -q '^running$'" \
 --health-interval=10s --health-timeout=5s --health-retries=5

[Install]
WantedBy=multi-user.target
