[Unit]
Description=OpenVox Server
After=crafty.network
Requires=crafty.network

[Container]
ContainerName=openvoxserver
HostName=openvoxserver
Image=ghcr.io/openvoxproject/openvoxserver:latest
AutoUpdate=registry

Network=crafty.network
PublishPort=8140:8140/tcp

Environment=CA_HOSTNAME=openvoxserver
Environment=DNS_ALT_NAMES=openvoxserver,openvoxserver.dns.podman
Environment=OPENVOXSERVER_HOSTNAME=openvoxserver
Environment=USE_OPENVOXDB=false

HealthCmd=curl -ksS https://openvoxserver:8140/status/v1/simple | grep -q '^running$'
HealthInterval=10s
HealthTimeout=5s
HealthRetries=5

[Install]
WantedBy=multi-user.target
