[Container]
Environment=OPENVOXSERVER_HOSTNAME=puppet
Environment=USE_OPENVOXDB=false
HostName=puppet
Image=ghcr.io/openvoxproject/openvoxserver:latest
Pod=openvoxserver_standalone.pod

[Service]
Restart=always

---

# openvoxserver_standalone.pod
[Pod]
PublishPort=8140:8140
