version: '3.8'

services:
  puppet:
    image: ghcr.io/voxpupuli/container-puppetserver:8.6.1-latest
    hostname: puppet
    environment:
      PUPPETSERVER_HOSTNAME: puppet
      PUPPETSERVER_PORT: 8140
      PUPPETDB_HOSTNAME: puppetdb
      PUPPETDB_SSL_PORT: 8081
      USE_PUPPETDB: true
      AUTOSIGN: true
    restart: always
    ports:
      - 8140:8140

  puppetdb:
    image: ghcr.io/voxpupuli/container-puppetdb:8.6.0-latest
    hostname: puppetdb
    environment:
      USE_PUPPETSERVER: true
      PUPPETSERVER_HOSTNAME: puppet
      PUPPETSERVER_PORT: 8140
      PUPPETDB_SSL_PORT: 8081
      PUPPETDB_POSTGRES_HOSTNAME: postgres
      PUPPETDB_POSTGRES_PORT: 5432
      PUPPETDB_PASSWORD: puppetdb
      PUPPETDB_USER: puppetdb
    restart: always

  postgres:
    image: docker.io/postgres:16-alpine
    hostname: postgres
    environment:
      POSTGRES_DB: puppetdb
      POSTGRES_USER: puppetdb
      POSTGRES_PASSWORD: puppetdb
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U puppetdb -d puppetdb'"]
      interval: 10s
      timeout: 3s
      retries: 3
    volumes:
      - ./postgresql_init:/docker-entrypoint-initdb.d
    restart: always

networks:
  default:
    name: crafty-minimal
