[Unit]
Description=OpenVox compiler %i
Requires=openvox-ca.service
After=openvox-ca.service

[Container]
Image=ghcr.io/openvoxproject/openvoxserver:latest
ContainerName=compiler-%i
Environment=OPENVOXSERVER_HOSTNAME=compiler-%i
Environment=USE_OPENVOXDB=false
Environment=CA_ENABLED=false
Environment=CA_HOSTNAME=openvox-ca
Environment=DNS_ALT_NAMES=openvox,openvox-lb
Volume=code_dir:/etc/puppetlabs/code:Z
Volume=ssl_dir:/etc/puppetlabs/puppet/ssl:Z
Network=crafty-r10k
RestartPolicy=always

[Install]
WantedBy=multi-user.target
