[Unit]
Description=One-shot r10k deployer
After=network.target

[Container]
Image=ghcr.io/voxpupuli/r10k:latest
ContainerName=r10k-deploy
Environment=PUPPET_CONTROL_REPO=https://github.com/voxpupuli/controlrepo.git
Volume=code_dir:/etc/puppetlabs/code:Z
Entrypoint=/docker-entrypoint.sh
Command=deploy environment -mv
Network=crafty-ha
PodmanArgs=--rm
ServiceType=oneshot

[Service]
Type=oneshot
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
